
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.env.dev
/.env
/downloads/
/screenshots/
/heading.png
/todo.pdf
/allure-history/
/allure-report/
/allure-results/
