
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.env.dev
/.env
/allure-history
/allure-report
/allure-results
gitignore updated
kuyfkjgfgf